.contactUs {
    position: relative;
    width: 100%;
    max-width: 100%;
    width: 1020px;
    margin: auto;
}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2 {
    color: #fff;
    font-weight: 500;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding: 40px;
    background: #343434;;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.contact h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #c2c2c2;
    margin-bottom: 1rem;
}

.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    color: #c2c2c2;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    /* border: 1px solid #333; */

    border: none;
    border-bottom: 1px solid;
    border-radius: 20px;
    background-color: #222222;
}

.inputBox input:hover {
    background-color: #2d2d2d;
    border-color: #3bffe8;
}

.inputBox input::placeholder {
    color: #fff;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: none;
    border-radius: 20px;
    border-bottom: 1px solid;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    background-color: #222222;
}

.inputBox textarea::placeholder {
    color: #fff;
}

.inputBox textarea:hover {
    background-color: #2d2d2d;
    border-color: #3bffe8;
}

.inputBox input[type="submit"] {
    max-width: 300px;
    text-transform: uppercase;
    color: #3bffe8;
    border: none;
    border-bottom: 4px solid #222;
    border-radius: 20px;
    background-color: #222222;
    cursor: pointer;
}

.inputBox input[type="submit"]:hover {
    background-color: #2d2d2d;
    border-color: #3bffe8;
}


.info {
    background: #343434;
}

.info h3 {
    color: #fff;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p {
    color: #fff;
    font-size: 1.1em;
}

.info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

#sci {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
}

#sci li {
    list-style: none;
    margin-right: 15px;
}


#outterLogo {
    font-size: 3rem;
    color: #ccc;
}

#outterLogo:hover {
    color: #fff;
}

.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .contactUs {
        padding: 20px;
    }

    .box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "form"
            "info"
            "map";
    }

    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputBox {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }

    .map {
        min-height: 300px;
        padding: 0;
    }
}