@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    color: #8a8a8a;
}

body {
    background-color: #2a2a2a;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
}

.navbar-links {
    width: 100%;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
}

#myNameLi{
    justify-content: flex-start;
    font-family: 'Lobster', cursive;
    width: 100%;
    font-size: 1.7rem;
    text-decoration: #3bffe8 underline;
}

#resume a {
    color: #3bffe8;
    transform-origin: (1); 
    transition: .3s ease;   
}

#resume a:hover {
    transform: scale(1.1);
}

ul li a {
    position: relative;
    text-decoration: none;
    color: #cacaca;
    text-transform: uppercase;
    padding: 1rem;
    display: block;
    transition: .3s ease;
    overflow: hidden;
    font-weight: 700;
    font-size: 1em;
    transition: 0.5s;
    transition-delay: 0;
}

.navbar-links a:hover {
    /* color: rgb(230, 230, 27); */
    transform: scale(1);
    color: rgb(255, 255, 255, 0.1);
    transition-delay: 0s;
}

/* enable the effects for the nav */
.navbar-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .35em;
    color: #3bffe8;
    box-shadow: 0 0 5px #3bffe8,
    0 0 9px #3bffe8,
    0 0 5px #3bffe8;
    font-weight: 500;
    letter-spacing: 30px;
    white-space: nowrap;
    opacity: 0;
    transition: 0.5s;
}

ul li a:hover:before{
    opacity: 1;
    letter-spacing: 6px;
    transition-delay: .3s;

} 

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #8a8a8a;
    border-radius: 10px;
}

.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


@media (max-width: 600px) {
    .toggle-button {
      display: flex;
      margin-top: 1rem;
      z-index: 2;
    }
    
    .navbar-links {
      display: none;
      width: 100%;
    }

    #myNameLi{
        padding: .5rem 1rem;
        width: 50%;
        margin: auto;
    }
    
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }

    .stick {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
    
    .navbar-links li {
      text-align: center;
    }
    
    .navbar-links li a {
      padding: .5rem 1rem;
      width: 50%;
      margin: auto;
    }
    
    .navbar-links.active {
      display: flex;
    }

    .brand-title {
        margin-top: 1.8rem;
    }
  }

.intro {
    text-align: center;
}

.intro h1 {
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 20px 0;
    color: #cacaca;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 100%;
    width: 1020px;
}

.aboutMe {
    padding-top: 2rem;
    text-align: left;
    margin: 0 20px;
    letter-spacing: 2px;
}

.me:hover {
    transform: scale(1.0069999);
    cursor: pointer;
}

.descp {
    text-align: center;
    margin: 20px 0;
}

.descp h4 {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: #cacaca;
}

.tech {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    width: 1020px;
    margin: 5rem auto;
}

.logos {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 2rem 0;
    /* flex-direction: column;
    text-align: center;
    align-items: center; */
    margin: 20px;
    transform-style: preserve-3d;
    animation: animate 15s linear infinite;
}

.xd {
    border-bottom: solid;
}

svg:hover 
{
    animation: step-end;
}


@keyframes animate {
    0% {
         transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
   }
}

.logos svg {
    /* display: flex;
    flex-direction: row;
    max-width: 40%;

    cursor: pointer;
    transition: .3s ease; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 45deg)) translateZ(400px);
}

.logos svg:hover {
    transform: scale(1.15);
    box-shadow: 0px -2px 15px -4px #3bffe8;
}

#app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    width: 1020px;
    margin: auto;
}

.project {
    display: flex;
    width: 300px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 20px;
    text-decoration: none;
    transition: .3s ease;
}

.project p {
    color: #cacaca;
}

.project img {
    border-radius: 5px;
    max-width: 100%;
    
}

.overtop{
    background-color: #8a8a8a;
    opacity: .7;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -36px;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overtop a {
    display: block;
    padding: 5px 1px;
}

.overtop span {
    color: #3bffe8;
}

.project:hover .overtop{
    transform: translateY(-35%);
}

.overtop a:hover {
    transform: scale(1.05);
}

.overtop h3 {
    
    color: #3bffe8;
    padding: 5px 1px;
}

.project:hover {
    transform: scale(1.05);
}

footer {
    display: grid;
    grid-template-columns: .5fr .5fr 3fr .1fr;
    /* grid-template-rows: 1fr 1fr 2fr 2fr; */
    gap: .5rem;
    
    grid-template-areas:
    "header header header header"
        "mains main side side2"
        "mains main side side2"
        "footer footer footer footer"
    ;
    
 }

.contact {
    text-align: center;
    margin: 40px 0;
    grid-area: header;
}

.contact h4 {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: #cacaca;
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    grid-area: main;
}

.contact-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.contact-container  span {
    font-size: .7rem;
}

.contact-container a {
    display: flex;
}


.contactLogos {
    width: 10%;
    margin-right: 5px;
}

.contactLogos:hover {
    filter: brightness(100);
}

.contact-container span:hover {
    color: #cacaca;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction:  row;
    margin: auto;
    width: 50%;
    grid-area: side;
}

form{
    margin: auto;
}

.input-field {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid;
    color: #fff;
    resize: none;
    outline: none;
    background-color: #222222;
}

.input-field:hover {
    background-color: #2d2d2d;
    border-color: #3bffe8;
}

.input-field::placeholder {
    color: #fff;
    text-align: center;
}

.btn {
    width: 100%;
    margin-top: 20px;
    height: 47px;
    padding: 10px;
    text-transform: uppercase;
    color: #3bffe8;
    border: none;
    border-bottom: 4px solid #222;
    border-radius: 20px;
    background-color: #222222;
    cursor: pointer;
}

.btn:hover {
    background-color: #2d2d2d;
    border-color: #3bffe8;
}

@media (max-width: 600px) {
       footer{
          grid-template-columns: 1fr;
    
          grid-template-areas:
            "header"
            "side"
            "main"
            ;
        }
    
        .contact-container ul {
            flex-direction: row;
        }

        .contact-container  span {
            display: none;
        }

        .contactLogos {
            width: 25%;
        }
    
}